.job-page .opening {
    min-height: 45vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 36px;
}

.job-region {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.job-region .search-region {
    position: relative;
    width: 75%;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.job-region .search-region .options {
    display: flex;
    justify-content: space-between;
}

.job-region .search-region .options p {
    color: var(--secondary-text-color);
    font-size: 20px;
    font-weight: 600;
}

.job-region .search-region .options .sort-btn {
    padding: 8px 10px;
    background-color: var(--accent-color);
    color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.job-region .search-region .options .sort-btn p {
    color: white;
    font-size: 18px;
}

.job-region .search-region .display-jobs {
    margin-top: 20px;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 20px;
}


.search-region .pagination {
    position: absolute;
    bottom: 30px;
    width: 100%;
    margin-top: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 12px;
}

.pagination .pageNo {
    width: 42px;
    height: 42px;

    border-radius: 50%;
    border: none;
    background-color: #daedea;

    display: grid;
    place-content: center;

    font-size: 15px;
    font-weight: 500;

    cursor: pointer;

    transition: transform 0.25s ease,
                background-color 0.25s ease,
                box-shadow 0.25s ease;

    box-shadow: 0 4px 10px rgba(48,150,137,0.10);
}

.pagination .pageNo:hover {
    background-color: var(--accent-color);
    color: white;
    transform: translateY(-2px);
}

.pagination .pageNo.active {
    background-color: var(--accent-color);
    color: white;
    font-weight: 600;
}


.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
