.contact{
    width:100%;
}


.contact-hero{
    min-height: 45vh;
    background:#000;
    color:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:36px;
    font-weight:600;
}


.contact-region{
    width:90%;
    margin:auto;
    padding:60px 0;

    display:flex;
    justify-content:space-between;
    gap:60px;
}


.contact-left{
    width:50%;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.contact-left h2{
    font-size:32px;
    font-weight:700;
}

.contact-left p{
    font-size:15px;
    color:var(--secondary-text-color);
}

.info-grid{
    margin-top:20px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:26px;
}

.info{
    display:flex;
    gap:12px;
    align-items:flex-start;
}

.info h4{
    font-size:14px;
    font-weight:600;
}

.info p{
    font-size:14px;
    color:var(--secondary-text-color);
}


.contact-form{
    width:40%;
    background-color:var(--noty-color);
    padding:30px;
    border-radius:16px;

    display:flex;
    flex-direction:column;
    gap:16px;
}

.contact-form h3{
    text-align:center;
    font-weight:600;
}

.contact-form .subtitle{
    text-align:center;
    font-size:13px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:12px;
    border-radius:6px;
    border:none;
    outline:none;
}

.contact-form .row{
    display:flex;
    gap:10px;
}

.contact-form button{
    margin-top:10px;
    padding:12px;
    border-radius:6px;
    border:none;

    background:var(--accent-color);
    color:white;
    font-weight:500;

    cursor:pointer;
    transition:.2s ease;
}

.contact-form button:hover{
    background:var(--hover-color);
}


.contact-map{
    width:90%;
    margin:40px auto;
    border-radius:16px;
    overflow:hidden;
}

.contact-map iframe{
    width:100%;
    height:300px;
    border:0;
}
