.container {
    width: 100%;
    padding: 80px 60px;
}

.container .quote-block {
    display: flex;
    align-items: center;
    gap: 50px;
}


.container .quote-block .cover {
    position: relative;
    z-index: 0;
    height: 400px;
    width: 500px;
    overflow: hidden;
    border-radius: 20px;
}

.container .quote-block .cover::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=1170&auto=format&fit=crop");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 20px;
    filter: blur(10px);
    transform: scale(1.05);
    z-index: -1;
}


.container .quote-block .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
}

.container .quote-block .content h1 {
    font-size: 40px;
    line-height: 1.2;
}

.container .quote-block .quote {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container .quote-block .quote p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}


.container .quote-block .cta {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .quote-block .cta .cta-btn {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease;
}

.container .quote-block .cta .cta-btn:hover {
    transform: translateY(-2px);
    background-color: var(--hover-color);
}

.container .quote-block .cta a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
}


.container .stats {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.container .stats .stat-info {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container .stats .stat-info h2 {
    font-size: 28px;
    color: var(--accent-color);
    font-weight: 600;
}

.container .stats .stat-info h3 {
    font-size: 24px;
    color: black;
    font-weight: 600;
}

.container .stats .stat-info p {
    font-size: 16px;
    color: var(--secondary-text-color);
    font-weight: 400;
}

.container .jobs{
    position: relative;
    padding: 20px;
    z-index: 0;
    margin-top: 150px;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: azure;
    border-radius: 20px;
    overflow: hidden;
}

.container .jobs::before{
    position: absolute;
    content: "";
    inset: 0;

    background-image: url("https://images.unsplash.com/photo-1567095751004-aa51a2690368?q=80&w=1170&auto=format&fit=crop");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    filter: blur(8px);
    transform: scale(1.05);
    z-index: -1;
}

.container .jobs-content{
    padding: 24px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}


.container .jobs-content h1{
    font-size: 36px;
    font-weight: 500;
}
.container .jobs-content p{
    font-size: 16px;
    font-weight: 400;
}
.container .jobs-content button{
    width: 200px;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease;
}

.container .jobs-content button:hover {
    transform: translateY(-2px);
    background-color: var(--hover-color);
}