.sidemain {
    width: 25%;
}

.sidebar {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 30px 20px;
    background-color: #ebf5f4;
    border-radius: 20px;
}

.sidebar h2 {
    font-size: 20px;
    font-weight: 500;
}

.sidebar .search-title input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: white;
    border-radius: 12px;
}

.sidebar .search-location input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: white;
    border-radius: 12px;
}

.sidebar .filter-section .filter-item {
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    cursor: pointer;
    transition: all .2s ease;
}

.sidebar .filter-section .filter-item:hover {
    background-color: rgba(48, 150, 137, 0.08);
}

.sidebar .filter-section .filter-item .left {
    display: flex;
    align-items: center;
    gap: 8px;
}


.sidebar .filter-section .filter-item input {
    accent-color: var(--accent-color);
    cursor: pointer;
}

.sidebar .filter-section .filter-item input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    height: 18px;
    width: 18px;

    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    background: transparent;

    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all .15s ease;
}


.sidebar .filter-section .filter-item .count {
    padding: 3px 10px;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.05);
    font-size: 12px;
    font-weight: 500;

    transition: all .2s ease;
}

.sidebar .filter-section .filter-item:hover .count {
    background-color: rgba(48, 150, 137, 0.15);
}

.sidebar .tags {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sidebar .tags .tag {
    padding: 6px 12px;
    background-color: var(--noty-color);
    border-radius: 20px;
    color: var(--accent-color);
    font-size: 13px;
    cursor: pointer;
    transition: all .2s ease;
}

.sidebar .tags .tag:hover {
    background-color: rgba(48, 150, 137, 0.15);
    transform: translateY(-1px);
}

.sidemain .hiring {
    margin-bottom: 24px;
    position: relative;
    padding: 20px;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
}

.sidemain .hiring h2{
    font-size: 30px;
}

.sidemain .hiring p{
    font-size: 20px;
}

.sidemain .hiring::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://images.unsplash.com/photo-1549241520-425e3dfc01cb?q=80&w=687&auto=format&fit=crop");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: blur(10px);
    transform: scale(1.1);
    z-index: -1;
}