nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(18,19,20,0.6);
    backdrop-filter: blur(12px);
    z-index: 1000;
}

nav .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 40px;
    color: white;
}

nav .logo {
    font-weight: 600;
    font-size: 20px;
}

nav .logo:hover{
    cursor: pointer;
}

nav .container .links {
    display: flex;
    list-style: none;
    gap: 24px;
}

nav .links a {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

nav .links a:hover {
    opacity: 0.7;
}


nav .navButtons {
    display: flex;
    gap: 12px;
}


nav .navButtons button {
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: white; 
    background-color: var(--accent-color);
    transition: all 0.25s ease;
}

nav .navButtons button:first-child {
    background: transparent;
    border: 1px solid white;
    color: white;
}

nav .navButtons button:hover {
    transform: translateY(-1px);
    opacity: 0.85;
}