main {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


main::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://images.unsplash.com/photo-1763973559043-ee687e8df328?q=80&w=1332&auto=format&fit=crop");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(18px);
    transform: scale(1.08);
    z-index: -2;
}

main::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        rgba(10,10,10,0.65),
        rgba(10,10,10,0.75)
    );
    z-index: -1;
}

main .content-box {
    width: min(1100px, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    color: white;
    text-align: center;
}


main .content-box .content h3 {
    font-size: clamp(42px, 5vw, 64px);
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.5px;
}

main .content-box .content p {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.85;
    max-width: 700px;
}

main .search {
    height: 72px;
    width: min(900px, 95%);
    display: flex;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;

    background: rgba(255,255,255,0.95);
    backdrop-filter: blur(10px);

    box-shadow: 0 18px 45px rgba(0,0,0,0.35);
    transition: 0.25s ease;
}

main .search:hover {
    transform: translateY(-2px);
}

main .search input,
main .search select,
main .search button{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 18px;
    font-size: 15px;
}

main .search input:not(:last-child),
main .search select:not(:last-child){
    border-right: 1px solid rgba(0,0,0,0.08);
}

main .search button {
    flex: 0.8;
    font-weight: 500;
    background: var(--accent-color);
    color: white;
    transition: all 0.2s ease;
}

main .search button:hover {
    background: var(--hover-color);
    cursor: pointer;
}

main .stats{
    display: flex;
    gap: 60px;
}

main .stats .stat-block{
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    opacity: 0.95;
}

main .stats .stat-block .logo {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background: rgba(48,150,137,0.15);
    border: 1px solid rgba(48,150,137,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}


main .companies {
    width: 100%;
    height: 12vh;
    position: absolute;
    bottom: 0px;
    left: 0;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
}

main .companies .company{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    gap: 10px;
}