.top{
    padding: 40px 30px;
    background-color: var(--noty-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.top h2{
    font-size: 36px;
    font-weight: 600;
}

.top p{
    font-size: 16px;
}

.top .top-cards{
    margin-top: 20px;
    max-width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.top .top-cards .top-card{
    height: 320px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 24px;
    gap: 10px;
}

.top .top-cards .top-card .icon{
    height: 50px;
    width: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.top .top-cards .top-card div{
    margin-top: 10px;
    padding: 4px 8px;
    background-color: var(--noty-color);
    display: grid;
    place-content: center;
    border-radius: 16px;
    color: var(--accent-color);
}